.banner {
  background-color: #4b73b5;
  margin-bottom: 50px;
  display: flex;
  width: 256px;
  height: 287px;
  
}

.banner__title {
  text-align: center;
  width: 260px;
  height: 240px;
  background: url('/img/img/banner/questions.png');
}
.banner__desc {
  justify-content: center;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  
}

.banner__img {
  background-clip: #fff;
}
